.popup__name {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin: 0 auto 30px;
  padding: 0;
  min-height: 27px;
}

@media screen and (max-width: 500px) {
  .popup__name {
    font-size: 12px;
    line-height: 15px;
}
}
